language: ruby
rvm:
  - 2.2.0
  - 2.1.5
  - 1.9.3
  - rbx
  - jruby-19mode # JRuby in 1.9 mode

matrix:
  allow_failures:
    - rvm: jruby-19mode # JRuby in 1.9 mode
    - rvm: rbx

services:
  - couchdb

script: bundle exec rake test_ragios
