apiVersion: extensions/v1beta1
kind: Deployment
metadata:
  annotations:
    kompose.cmd: kompose convert
    kompose.version: 1.18.0 ()
  creationTimestamp: null
  labels:
    io.kompose.service: recurring-jobs
  name: recurring-jobs
spec:
  replicas: 1
  strategy: {}
  template:
    metadata:
      creationTimestamp: null
      labels:
        io.kompose.service: recurring-jobs
    spec:
      containers:
      - command:
        - bundle
        - exec
        - ruby
        - bin/recurring_jobs_ctl.rb
        - run
        env:
        - name: RAGIOS_ENV
          value: production
        - name: RAGIOS_EVENTS_RECEIVER_ADDRESS
          value: events
        - name: RAGIOS_LOG_LEVEL
          value: info
        - name: RAGIOS_RECURRING_JOBS_RECEIVER_ADDRESS
          value: 0.0.0.0
        - name: RAGIOS_WORKERS_PUSHER_ADDRESS
          value: 0.0.0.0
        - name: COUCHDB_ADMIN_USERNAME
          valueFrom:
            secretKeyRef:
              name: couchdb-secret
              key: username
        - name: COUCHDB_ADMIN_PASSWORD
          valueFrom:
            secretKeyRef:
              name: couchdb-secret
              key: password
        image: obiora/ragios:v0.7.1.2
        name: recurring-jobs
        ports:
        - containerPort: 5042
        - containerPort: 5043
        resources: {}
        stdin: true
        tty: true
      restartPolicy: Always
status: {}
