<script src="/javascripts/index.js"></script>
<ol class="breadcrumb">
    <li class="active">All Monitors</li>
</ol>
<div class="row">
    <div class="col-md-12" >
        <div class="panel panel-default">
            <div class="panel-body">
                <a href="/admin/monitors/new" class="btn btn-default btn-sm">
                    <span class="glyphicon glyphicon-plus"></span> Create Monitor
                </a>
            </div>
        </div>
        <div class="table-responsive" style=" overflow-x: hidden;">
            <table id="monitors-list-datatable" class="table table-hover table-striped table-bordered">
                <thead>
                    <tr>
                        <th>Created at</th>
                        <th>Id</th>
                        <th>Monitor</th>
                        <th>Every</th>
                        <th>Via</th>
                        <th>Plugin</th>
                        <th>Status</th>
                    </tr>
                </thead>
                <tbody>
                </tbody>
            </table>
        </div>
    </div>
</div>
