<!DOCTYPE html>
<html lang="en">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">

    <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <script src="/javascripts/ragios.js"></script>
  </head>
  <body>
      <div class="container">
        <h1><a href="/admin/index">Ragios Monitors</a></h1>
        <p>A tiny, nimble and hackable system monitoring framework </p>
        <% unless @login_page %>
          <p>
              <a href="/admin/logout">logout</a>
          </p>
        <% end %>
            <%= yield %>
      </div>
  </body>
</html>
