
<div class="text-danger"><%= @error %></div>


<form class="navbar-form navbar-left" role="login" action="/admin_session" method="post">
  <div class="form-group">
    <input type="text" class="form-control" placeholder="username" name="username">
    <input type="password" class="form-control" placeholder="password" name="password">
  </div>
  <button type="submit" class="btn btn-default">Submit</button>
</form>