<link rel="stylesheet" type="text/css" href="/jsoneditor/jsoneditor.min.css">
<script type="text/javascript" src="/jsoneditor/jsoneditor.min.js"></script>

<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
<script type="text/javascript" src="/jsoneditor/asset/ace/ace.js"></script>
<script type="text/javascript" src="/jsoneditor/asset/jsonlint/jsonlint.js"></script>
<script src="/javascripts/monitor.js"></script>
<span style="display:none" id="monitor-id"><%= @monitor[:_id] %></span>
<ol class="breadcrumb">
  <li><a href="/admin/index">All Monitors</a></li>
  <li class="active"><%= @monitor[:monitor] %></li>
</ol>
<div id="message"></div>
<div class="panel panel-default">
    <div class="panel-body">
        <button type="button" id="restart-button" class="btn btn-default btn-sm" data-loading-text="Loading..." autocomplete="off" >
            <span class="glyphicon glyphicon-repeat"></span> Restart Monitor
        </button>
        <button type="button" id="stop-button" class="btn btn-default btn-sm" data-loading-text="Loading..." autocomplete="off">
            <span class="glyphicon glyphicon-stop"></span> Stop Monitor
        </button>
        <button type="button" id="test-button" class="btn btn-default btn-sm" data-loading-text="Loading..." autocomplete="off">
            <span class="glyphicon glyphicon-tasks"></span> Test Monitor
        </button>
        <button type="button" id="update-monitor-button" class="btn btn-default btn-sm" data-loading-text="Loading..." autocomplete="off">
            <span class="glyphicon glyphicon-floppy-disk"></span> Save Monitor
        </button>
        <button type="button" id="delete-button" class="btn btn-default btn-sm" data-loading-text="Loading..." autocomplete="off">
            <span class="glyphicon glyphicon-trash"></span> Delete Monitor
        </button>
    </div>
</div>
<ul class="nav nav-tabs" role="tablist">
  <li class="active"><a href="#monitor" role="tab" data-toggle="tab">Monitor</a></li>
  <li><a href="#all-events" role="tab" data-toggle="tab">All Events</a></li>
  <li><a href="#notifications" role="tab" data-toggle="tab">Notifications</a></li>
  <li><a href="#failures" role="tab" data-toggle="tab">Failures</a></li>
  <li><a href="#errors" role="tab" data-toggle="tab">Errors</a></li>
</ul>
<div class="tab-content panel-spacing">
    <div class="tab-pane active" id="monitor">
        <div class="table-options-section">
            <span class="table-select-rows-spacing pull-right">
                <button type="button" class="refresh-monitor-button btn btn-default btn-sm" data-loading-text="Loading..." autocomplete="off">
                    <span class="glyphicon glyphicon-refresh">
                    </span> Refresh data
                </button>
            </span>
        </div>
        <div id="monitor-editor" style="width: 100%; height: 450px;"></div>
    </div>

    <div class="tab-pane" id="all-events">
        <div class="panel panel-default">
            <div class="panel-body">
                <div class="col-sm-8" style="height:100px;">
                   <div class='col-md-5'>
                        <div class="form-group">
                            Start Date
                            <div class='input-group date' id='all-events-start-date'>
                                <input type='text' class="form-control" id="all-events-start-input" />
                                <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span>
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class='col-md-5'>
                        <div class="form-group">
                            End date
                            <div class='input-group date' id='all-events-end-date'>
                                <input type='text' class="form-control" id="all-events-end-input" />
                                <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span>
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class='col-md-5'>
                        <div class="form-group">
                            <div class='input-group date'>
                                <button type="button" id="refresh-all-events-button" class="btn btn-default btn-sm" data-loading-text="Loading..." autocomplete="off">
                                    <span class="glyphicon glyphicon-refresh">
                                    </span> Refresh data
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <table id="all-events-datatable" class="table table-hover table-striped table-bordered">
            <thead>
                <tr>
                    <th>Time</th>
                    <th>Id</th>
                    <th>State</th>
                    <th>Event Type</th>
                    <th>Event</th>
                </tr>
            </thead>
            <tbody>
            </tbody>
        </table>
    </div>

    <div class="tab-pane" id="notifications">
        <div class="panel panel-default">
            <div class="panel-body">
                <div class="col-sm-8" style="height:100px;">
                   <div class='col-md-5'>
                        <div class="form-group">
                            Start Date
                            <div class='input-group date' id='notification-start-date'>
                                <input type='text' class="form-control" id="notification-start-input" />
                                <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span>
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class='col-md-5'>
                        <div class="form-group">
                            End date
                            <div class='input-group date' id='notification-end-date'>
                                <input type='text' class="form-control" id="notification-end-input" />
                                <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span>
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class='col-md-5'>
                        <div class="form-group">
                            <div class='input-group date'>
                                <button type="button" id="refresh-notifications-button" class="btn btn-default btn-sm" data-loading-text="Loading..." autocomplete="off">
                                    <span class="glyphicon glyphicon-refresh">
                                    </span> Refresh data
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <table id="notifications-datatable" class="table table-hover table-striped table-bordered">
            <thead>
                <tr>
                    <th>Time</th>
                    <th>Id</th>
                    <th>Notifier</th>
                    <th>Event</th>
                </tr>
            </thead>
            <tbody>
            </tbody>
        </table>
    </div>

    <div class="tab-pane" id="failures">
        <div class="panel panel-default">
            <div class="panel-body">
                <div class="col-sm-8" style="height:100px;">
                   <div class='col-md-5'>
                        <div class="form-group">
                            Start Date
                            <div class='input-group date' id='failures-start-date'>
                                <input type='text' class="form-control" id="failures-start-input" />
                                <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span>
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class='col-md-5'>
                        <div class="form-group">
                            End date
                            <div class='input-group date' id='failures-end-date'>
                                <input type='text' class="form-control" id="failures-end-input" />
                                <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span>
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class='col-md-5'>
                        <div class="form-group">
                            <div class='input-group date'>
                                <button type="button" id="refresh-failures-button" class="btn btn-default btn-sm" data-loading-text="Loading..." autocomplete="off">
                                    <span class="glyphicon glyphicon-refresh">
                                    </span> Refresh data
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <table id="failures-datatable" class="table table-hover table-striped table-bordered">
            <thead>
                <tr>
                    <th>Time</th>
                    <th>Id</th>
                    <th>State</th>
                    <th>Event</th>
                </tr>
            </thead>
            <tbody>
            </tbody>
        </table>
    </div>

    <div class="tab-pane" id="errors">
        <div class="panel panel-default">
            <div class="panel-body">
                <div class="col-sm-8" style="height:100px;">
                   <div class='col-md-5'>
                        <div class="form-group">
                            Start Date
                            <div class='input-group date' id='errors-start-date'>
                                <input type='text' class="form-control" id="errors-start-input" />
                                <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span>
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class='col-md-5'>
                        <div class="form-group">
                            End date
                            <div class='input-group date' id='errors-end-date'>
                                <input type='text' class="form-control" id="errors-end-input" />
                                <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span>
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class='col-md-5'>
                        <div class="form-group">
                            <div class='input-group date'>
                                <button type="button" id="refresh-errors-button" class="btn btn-default btn-sm" data-loading-text="Loading..." autocomplete="off">
                                    <span class="glyphicon glyphicon-refresh">
                                    </span> Refresh data
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <table id="errors-datatable" class="table table-hover table-striped table-bordered">
            <thead>
                <tr>
                    <th>Time</th>
                    <th>Id</th>
                    <th>State</th>
                    <th>Event</th>
                </tr>
            </thead>
            <tbody>
            </tbody>
        </table>
    </div>
</div>
