<script src="/javascripts/libs/jsoneditor.js"></script>
<script src="/javascripts/new.js"></script>
<ol class="breadcrumb">
  <li><a href="/admin/index">All Monitors</a></li>
  <li class="active">Create Monitor</li>
</ol>
<span id="message"></span>
<script id="message-template" type="text/template">
    <div class="alert alert-dismissable alert-{{ alert }}">
        <button type="button" class="close" data-dismiss="alert">×</button>
        <h4>{{ message }}!</h4>
        <p>{{ response }}</p>
    </div>
</script>
<div class="panel panel-default">
    <div class="panel-body">
        <button type="button" id="update-button" class="btn btn-default btn-sm">
            <span class="glyphicon glyphicon-floppy-disk"></span> Save Monitor
        </button>
    </div>
</div>
<div class="tab-content panel-spacing">
    <div id="monitor-editor"></div>
</div>
