<script src="/javascripts/libs/jsoneditor.js"></script>
<script src="/javascripts/new.js"></script>
<ol class="breadcrumb">
  <li><a href="/admin/index">All Monitors</a></li>
  <li class="active">Add Monitor</li>
</ol>
<div id="message"></div>
<div class="panel panel-default">
    <div class="panel-body">
        <button type="button" id="update-button" class="btn btn-default btn-sm">
            <span class="glyphicon glyphicon-floppy-disk"></span> Save Monitor
        </button>
    </div>
</div>
<div class="tab-content panel-spacing">
    <div id="monitor-editor"></div>
</div>
