<style>
.tiny-col {
   width: 30px;
}
</style>
<script src="/javascripts/new.js"></script>
<ol class="breadcrumb">
  <li><a href="/admin/index">All Monitors</a></li>
  <li class="active">Add Monitor</li>
</ol>
<div id="message"></div>
<div class="panel panel-default">
    <div class="panel-body">
        <button type="button" id="update-button" class="btn btn-default btn-sm">
            <span class="glyphicon glyphicon-floppy-disk"></span> Save Monitor
        </button>
    </div>
</div>
<ul class="nav nav-tabs" role="tablist">
  <li class="active"><a href="#fields" role="tab" data-toggle="tab">Fields</a></li>
  <li id="source-tab"><a href="#source" role="tab" data-toggle="tab">View source</a></li>
</ul>
<div class="tab-content panel-spacing">
    <div class="tab-pane active" id="fields">
        <div class="table-options-section">
            <div class="table-select-rows-spacing pull-left">
                <button type="button" id="add-field-button" class="btn btn-default btn-sm">
                    <span class="glyphicon glyphicon-plus">
                    </span> Add field
                </button>
            </div>
        </div>

        <table class="table table-striped table-bordered table-responsive table-hover">
            <thead>
                <tr>
                    <th class="tiny-col"></th>
                    <th>Field</th>
                    <th>Value</th>
                </tr>
            </thead>
            <tbody id="new-monitor-table">
                <tr>
                    <td></td>
                    <td>monitor</td>
                    <td>
                        <textarea class="value" id="monitor" rows="1" style="width: 100%;"></textarea>
                    </td>
                </tr>
                <tr>
                    <td></td>
                    <td>every</td>
                    <td>
                        <textarea class="value" id="every" rows="1" style="width: 100%;"></textarea>
                    </td>
                </tr>
                <tr>
                    <td></td>
                    <td>via</td>
                    <td>
                        <textarea id="via" rows="1" style="width: 100%;"></textarea>
                    </td>
                </tr>
                <tr>
                    <td></td>
                    <td>plugin</td>
                    <td>
                        <textarea id="plugin" rows="1" style="width: 100%;"></textarea>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="tab-pane" id="source">
        <div class="panel panel-default">
            <div class="panel-body">
                <pre id="json"></pre>
            </div>
        </div>
    </div>
</div>
